<div class="dashboard-container">
    <header class="header">
      <button class="menu-button" (click)="toggleMenu()">Menu</button>
      <h1>Admin Dashboard</h1>
    </header>
    <div class="main-content">
      <div class="sidebar" *ngIf="showMenu">
        <nav class="nav-menu">
          <ul>
            <li *ngFor="let item of fastFoodItems">
              <a [routerLink]="item.link">{{ item.name }}</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="content">
        <router-outlet></router-outlet> <!-- Display routed content here -->
      </div>
    </div>
  </div>
  