

.container {
    max-width: 1200px;
  }
  
  
  .card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .price {
    font-weight: bold;
  }
  
  .btn {
    width: 100%;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn:hover {
    opacity: 0.9;
  }

  .mar{
    background:url("/assets/images/background.jpg") no-repeat center fixed;
    background-position: cover;
    height: 100vh;
    padding: 20px;
  }