.homepage {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    background: url('/assets/images/background.jpg') center center no-repeat;
    background-size: cover; /* Cover the entire container */
    min-height: 100vh; /* Ensure it covers at least the viewport height */
    background-attachment: fixed; 
    
    padding-top: 20px;
}

.header {
    height: 100vh;
    max-height: 900px;
    background-size: cover;
    min-height: 750px;
    position: relative;
    top: -20px;
}

.header .overlay {
    height: 100%;
    background: rgba(33, 37, 41, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-title {
    font-size: 2.4rem;
    font-weight: bold;
    opacity: .8;
    color: #343a40;
}

.header-mini {
    min-height: 24rem;
    height: 24rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    background: #ffa1b4 !important;
}

.section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 24px;
    margin-top: 24px;
}

/* General styles for the gallery */
#gallery {
    padding: 50px 0;
}

.gallery-item {
    position: relative;
    margin-bottom: 20px;
}

.gallery-img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; /* Ensures the image covers the container */
}

.gallery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-item:hover .gallery-overlay {
    opacity: 1;
}

.gallery-icon {
    font-size: 40px;
    color: #fff;
}

.section-title {
    font-size: 36px;
    margin-bottom: 40px;
}

/* Responsive adjustments */

/* Tablets and above (768px and up) */
@media (min-width: 768px) {
    .gallery-item {
        margin-bottom: 30px;
    }
}

/* Laptops and larger screens (1024px and up) */
@media (min-width: 1024px) {
    .gallery-item {
        margin-bottom: 40px;
    }
}


.btn-primary {
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background: #007bff;
    border-radius: 5px;
    transition: background 0.3s;
}

.middle-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-primary:hover {
    background: #0056b3;
}

#featured {
    padding: 50px;
}

#featured h2 {
    margin-bottom: 40px;
    font-size: 2rem;
}

.card-group {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    margin: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 200px; /* Ensures images in cards are consistent */
    object-fit: cover;
    border-radius: 8px;
}

.card h3 {
    margin: 15px 0;
}

.card p {
    font-size: 1rem;
}

#special-offers {
    padding: 50px;
}

#special-offers h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

#special-offers p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.offers-list {
    list-style-type: none;
    padding: 0;
}

.offers-list li {
    margin: 10px 0;
    font-size: 1.2rem;
}

.testmonial-card {
    position: relative;
    text-align: center;
}

.testmonial-card .testmonial-title {
    font-size: 1.85rem;
}

.testmonial-card .testmonial-subtitle {
    font-size: 0.8rem;
    letter-spacing: 1px;
    opacity: 0.8;
}

.testmonial-card .testmonial-body {
    position: relative;
    padding: 1rem;
    border: 2px solid #495057;
    border-top-color: #ff214f;
    border-radius: 0.2rem;
    margin-top: 30px;
}

.testmonial-card .testmonial-body:after {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    width: 24px;
    height: 24px;
    border-color: #ff214f;
    border-radius: 0.2rem 0 0 0;
    border-style: solid;
    border-width: 2px 0 0 2px;
    transform: rotate(45deg) translateX(-50%);
    background: #343a40;
}

.product-card {
    text-align: center;
}

.product-img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    border-radius: 8px;
}

.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.marquee-content {
    display: inline-flex;
    animation: marquee 20s linear infinite;
}

.marquee-content img {
    border-radius: 8px;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, 0); 
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-info, .contact-map {
        margin-right: 0;
        margin-top: 20px;
        width: 100%;
    }
}
