body {
  margin: 0;
  height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: #343a40; 
}




.page-heading {
  text-align: center;
  color: #fff; 
  margin-bottom: 20px; 
}

.signup-container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  background: #000; 
  color: #fff; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: rgba(24, 16, 16, 0.4);
}


.icon-container {
  text-align: center;
  margin-bottom: 20px;
}

.icon-container i {
  color: #007bff;
}


.form {
  display: flex;
  flex-direction: column;
}


.form-group {
  margin-bottom: 15px;
}


.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #fff; 
}


.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #444; 
  border-radius: 4px;
  font-size: 16px;
  color: #000; 
  background: #fff; 
  box-sizing: border-box;
}


.alert {
  color: #dc3545; 
  margin-top: 5px;
}


.btn-primary {
  background-color: #007bff;
  border: 1px solid #007bff;
  color: #fff; 
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  display: block;
  width: 100%;
  transition: background-color 0.3s ease;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #0056b3;
  border-color: #0056b3;
}


.login-link {
  text-align: center;
  margin-top: 15px;
}

.login-link a {
  color: #007bff; 
  text-decoration: none;
}

.login-link a:hover, .login-link a:focus {
  text-decoration: underline;
}

.mar{
  background:url("/assets/images/background.jpg") no-repeat center center fixed;
  background: cover;
  height: 100vh;
  padding: 50px;
}