.contact-us-container {
    max-width: 600px;
    margin: 20px auto;
  }
  
  .feedback-table-container {
    max-width: 800px;
    margin: 40px auto;
  }
  
  .feedback-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .feedback-table th,
  .feedback-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .feedback-table th {
    background-color: #f4f4f4;
  }
  
  .feedback-table td {
    background-color: #fff;
  }
  